### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
def currency(amount):
    if amount >= 0:
        #str $+numbers.2 dec places 
        return '${:,.2f}'.format(amount)
    else:
        return '-${:,.2f}'.format(-amount)

def pct_format(amount):
    if amount >= 0:
        #str $+numbers.2 dec places 
        return '{:,.2f}%'.format(amount)
    else:
        return '-{:,.2f}%'.format(-amount)

def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

## Player Count

* Display the total number of players

In [3]:
pud = purchase_data["SN"].nunique()
print(f"Total number of players: {pud}")

Total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#number of unique items
uni_items = purchase_data["Item ID"].nunique()

#average price
avg_price = purchase_data["Price"].mean()

## of purchaes 
num_pur = purchase_data["Purchase ID"].count()

# Total Revenue
total_rev = purchase_data["Price"].sum()

#make sum dataframe
sum_df = pd.DataFrame({"Number of Unique Items":[uni_items],
                      "Average Price":[currency(avg_price)],
                      "Number of Purchases":[num_pur],
                       "Total Revenue":[currency(total_rev)]
                      })
#display sumframe
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
total_gender = purchase_data['Gender'].count()
# count of all
male = purchase_data.loc[purchase_data["Gender"] == 'Male', :].count()
female = purchase_data.loc[purchase_data["Gender"] == 'Female', :].count()
other = purchase_data.loc[purchase_data["Gender"] == 'Other / Non-Disclosed', :].count()



# percent of all
male_pct = pct_format(male['Gender']/total_gender *100)
female_pct = pct_format(female['Gender']/total_gender *100)
other_pct = pct_format(other['Gender']/total_gender *100)

gender_df = pd.DataFrame({"Gender":['Male','Female','Other'],
                      "Total Count":[male.Gender,female.Gender,other.Gender],
                      "Percentage of Players":[male_pct,female_pct,other_pct]
                         })

gender_df_ind = gender_df.set_index("Gender")

gender_df_ind.style.apply(highlight_max)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#make tables for gender
male = purchase_data.loc[purchase_data["Gender"] == 'Male', :]
female = purchase_data.loc[purchase_data["Gender"] == 'Female', :]
other = purchase_data.loc[purchase_data["Gender"] == 'Other / Non-Disclosed', :]

#purchase count
male_pc = male["Purchase ID"].count()
female_pc = female["Purchase ID"].count()
other_pc = other["Purchase ID"].count()

#avg purchase price
male_avgpp = currency(male["Price"].mean())
female_avgpp = currency(female["Price"].mean())
other_avgpp = currency(other["Price"].mean())

#total perchase value
male_perval = male["Price"].sum()
female_perval = female["Price"].sum()
other_perval = other["Price"].sum()

#person count not purchase count
male_count = male["SN"].nunique()
female_count = female["SN"].nunique()
other_count = other["SN"].nunique()

#person count not purchase count
male_count = male["SN"].nunique()
female_count = female["SN"].nunique()
other_count = other["SN"].nunique()


male_per_person = currency(male_perval/male_count)
female_per_person = currency(female_perval/female_count)
other_per_person = currency(other_perval/other_count)
 

gender_df = pd.DataFrame({"Gender":['Male','Female','Other'],
                      "Purchase Count":[male_pc,female_pc,other_pc],
                      "Average Purchase Price":[male_avgpp,female_avgpp,other_avgpp],
                        "Total Purchase Value": [currency(male_perval),currency(female_perval),currency(other_perval)],
                          "Avg Total Purchase Per Person": [male_per_person,female_per_person,other_per_person]
                         })
#gender_df["Acerage Purchase Price"] = 
gender_df = gender_df.set_index(["Gender"])
gender_df.style.apply(highlight_max)
#male_per_person
#male_perval/male_count

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
bins = [0,10,14,19,24,29,34,39,1000]

bin_names = [">10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["age_data"] = pd.cut(purchase_data["Age"],bins,labels=bin_names)

age_df = purchase_data.groupby("age_data").count()
age_df["Total Count"] = age_df["SN"]
age_df["Percentage of Players"] = age_df["SN"]/age_df["Total Count"].count()

final_age_df = age_df[["Total Count","Percentage of Players"]]
#was having logic issues using my function, probably should have ate more food first
final_age_df['Percentage of Players'] = final_age_df['Percentage of Players'].astype(float).map("{:,.2f}%".format)
final_age_df

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

          Total Count Percentage of Players
age_data
>10                32                 4.00%
10-14              19                 2.38%
15-19             136                17.00%
20-24             365                45.62%
25-29             101                12.62%
30-34              73                 9.12%
35-39              41                 5.12%
40+                13                 1.62%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
pur_age_df = purchase_data.groupby("age_data")

pur_count = pur_age_df['Purchase ID'].count()
avg_pp = pur_age_df['Price'].mean()
total_pv = pur_age_df['Price'].sum()

name_count = pur_age_df["SN"].nunique()
avg_per_person = total_pv / name_count


pur_df = pd.DataFrame({"Purchase Count": pur_count,
                         "Average Purchase Price": avg_pp,
                            "Total Purchase Value":total_pv ,
                                "Average Purchase per Person" : avg_per_person})
pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per Person
age_data,,,,
>10,32,3.405000,108.96,4.540000
10-14,19,2.681579,50.95,3.396667
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
top_spend = purchase_data.groupby('SN')

pur_count = top_spend['Purchase ID'].count()
avg_pp = top_spend['Price'].mean()
total_pv = top_spend['Price'].sum()

final_top = pd.DataFrame({"Purchase Count": pur_count,
                         "Average Purchase Price": avg_pp,
                            "Total Purchase Value":total_pv })
final_top = final_top.sort_values("Total Purchase Value", ascending=False) 

final_top.head()
#purchase_data.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [75]:
pop_items = purchase_data.groupby(["Item ID", "Item Name"])

pur_count = pop_items['Item ID'].count()
item_price = pop_items['Price'].max()
total_pv = pop_items['Price'].sum()

final_items = pd.DataFrame({"Purchase Count": pur_count,
                            "Item Price" : item_price,
                            "Total Purchase Value":total_pv})
final_items = final_items.sort_values("Purchase Count", ascending=False) 

final_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [79]:
most_pro_items = final_items.sort_values("Total Purchase Value", ascending=False)
most_pro_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80