### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [86]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [142]:
def currency(amount):
    if amount >= 0:
        #str $+numbers.2 dec places 
        return '${:,.2f}'.format(amount)
    else:
        return '-${:,.2f}'.format(-amount)

def pct_format(amount):
    if amount >= 0:
        #str $+numbers.2 dec places 
        return '{:,.2f}%'.format(amount)
    else:
        return '-{:,.2f}%'.format(-amount)

def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

## Player Count

* Display the total number of players

In [23]:
pud = purchase_data["SN"].nunique()
print(f"Total number of players: {pud}")

Total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
#number of unique items
uni_items = purchase_data["Item ID"].nunique()

#average price
avg_price = purchase_data["Price"].mean()

## of purchaes 
num_pur = purchase_data["Purchase ID"].count()

# Total Revenue
total_rev = purchase_data["Price"].sum()

#make sum dataframe
sum_df = pd.DataFrame({"Number of Unique Items":[uni_items],
                      "Average Price":[currency(avg_price)],
                      "Number of Purchases":[num_pur],
                       "Total Revenue":[currency(total_rev)]
                      })
#display sumframe
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [143]:
total_gender = purchase_data['Gender'].count()
# count of all
male = purchase_data.loc[purchase_data["Gender"] == 'Male', :].count()
female = purchase_data.loc[purchase_data["Gender"] == 'Female', :].count()
other = purchase_data.loc[purchase_data["Gender"] == 'Other / Non-Disclosed', :].count()



# percent of all
male_pct = pct_format(male['Gender']/total_gender *100)
female_pct = pct_format(female['Gender']/total_gender *100)
other_pct = pct_format(other['Gender']/total_gender *100)

gender_df = pd.DataFrame({"Gender":['Male','Female','Other'],
                      "Total Count":[male.Gender,female.Gender,other.Gender],
                      "Percentage of Players":[male_pct,female_pct,other_pct]
                         })

gender_df_ind = gender_df.set_index("Gender")

gender_df_ind.style.apply(highlight_max)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
#make tables for gender
male = purchase_data.loc[purchase_data["Gender"] == 'Male', :]
female = purchase_data.loc[purchase_data["Gender"] == 'Female', :]
other = purchase_data.loc[purchase_data["Gender"] == 'Other / Non-Disclosed', :]

#purchase count
male_pc = male["Purchase ID"].count()
female_pc = female["Purchase ID"].count()
other_pc = other["Purchase ID"].count()

#avg purchase price
male_avgpp = male["Price"].mean()
female_avgpp = female["Price"].mean()
other_avgpp = other["Price"].mean()



#total perchase value
#avg total purchase per person


print(f"{male_pc}  {male_avgpp}")

652  3.0178527607361953

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [97]:


bins = [0,10,14,19,24,29,34,39,1000]

bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["age_data"] = pd.cut(purchase_data["Age"],bins,labels=bin_names)
purchase_data.groupby(purchase_data["age_data"])

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80